default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  encoding: unicode
  username: postgres
  password: postgres
  host: localhost

development:
  <<: *default
  database: lesson_dev

test:
  <<: *default
  database: lesson_test

production:
  <<: *default
  database: lesson
